<aside class="{{styles.aside}}">
  <div class="{{styles.aside__header}}">
    <h1 class="{{styles.logo}}">Messenger</h1>
    <a href="#" class="{{styles.aside__headerUser}}">
      <img src="{{userImg}}" alt="" class="{{styles.aside__headerImg}}" />
    </a>
  </div>
  {{{UserPanel className=styles.aside__user}}}
  <div class="{{styles.chats}}">
    <div class="{{styles.search}} {{styles.chats__search}}">
      <label for="query" class="{{styles.search__label}}">
        <input
          type="text"
          class="{{styles.search__input}}"
          id="query"
          placeholder="Search"
        />
        <div class="{{styles.search__icon}}"></div>
      </label>
      {{#Button className=styles.search__button onClick=createChatModalToggle}}
        <div
          class="{{styles.search__btnIcon}} {{styles.search__btnIcon_plus}}"
        ></div>
      {{/Button}}
    </div>
    <ul class="{{styles.chats__list}}">
      {{#each chats}}
        {{{UserCard chat=this}}}
      {{/each}}
    </ul>
  </div>

  {{{CreateChatModal
    isModalShown=isCreateChatModalOpened
    onClose=createChatModalToggle
    onKeyUp=onKeyUp
    validator=validator
  }}}
</aside>