<div class="{{styles.profile__field}}">
  <div class="{{styles.profile__fieldInner}}">
    <span class="{{styles.profile__field-name}}">{{data.title}}</span>
    <p class="{{styles.profile__field-value}}">{{value}}</p>
    <span class="{{styles.profile__field-span}}">Click for change</span>
  </div>
  {{{SettingsForm
    title=data.title
    name=data.name
    isModalShown=isModalShown
    onClose=modalCloseHandler
    onKeyUp=onKeyUp
    validator=validator
  }}}
</div>