<div class="{{styles.profile__field}}">
  <div class="{{styles.profile__fieldInner}}">
    <span class="{{styles.profile__field-name}}">{{data.title}}</span>
    <p class="{{styles.profile__field-value}}">{{data.value}}</p>
    <span class="{{styles.profile__field-span}}">Click for change</span>
  </div>
  {{!-- {{#if isModalShown}} --}}
    {{{Modal key=data.title onClose=modalCloseHandler onKeyUp=onKeyUp isModalShown=isModalShown}}}
  {{!-- {{/if}} --}}
</div>