<li class="chat-card">
  <img src="{{avatar}}" alt="{{username}}'s avatar" class="chat-card__img" />
  <h3 class="chat-card__name">{{username}}</h3>
  <p class="chat-card__message">{{lastMessage}}</p>
  {{#if newMessages}}
    <span class="chat-card__counter">{{newMessages}}</span>
  {{/if}}
</li>