<li class="{{styles.chats__item}}">
  <img
    src="{{image}}"
    alt="{{username}}'s avatar"
    class="{{styles.chats__img}}"
  />
  <div class="{{styles.chats__message}}">
    <h4 class="{{styles.chats__name}}">{{username}}</h4>
    <p class="{{styles.chats__text}}">{{lastMessage}}</p>
  </div>
  <div class="{{styles.chats__msgInfo}}">
    <span class="{{styles.chats__msgTime}}">{{date}}</span>
    {{#if newMessages}}
      <span class="{{styles.chats__msgCount}}">{{newMessages}}</span>
    {{/if}}
  </div>
</li>