<div class="{{styles.page}}">
  <section class="{{styles.chat}}">
    {{{Users}}}
    {{#if chatId}}
      {{{Conversation chatId=chatId}}}
    {{else}}
      <p class="{{styles.chat__select}}">Pick a chat</p>
    {{/if}}
  </section>
</div>