<main class="error-page {{styles.red}}" data-count="{{{count}}}">
  <h1>Hello, world</h1>
  <p class="{{styles.green}}">Count: {{{count}}}</p>
  {{{Input value=value onChange=changeHandler onKeyUp=keyUpHandler}}}
  {{{Button type="button" kek="lol" onClick=clickHandler children="Click"}}}
</main>