<div class="{{styles.profile__field}}">
  <div class="{{styles.image__wrapper}}">
    <img
      src="https://ya-praktikum.tech/api/v2/resources/{{user.avatar}}"
      alt="person"
      class="{{styles.profile__image}}"
    />
  </div>
  {{{ImageForm
    isModalShown=isModalShown
    onClose=modalCloseHandler
    onKeyUp=onKeyUp
    validator=validator
  }}}
</div>