{{#if isModalShown}}
  <div class="{{styles.overlay}}">
    <div class="{{styles.modal}}">
      {{#Button className=styles.modal__close onClick=onClose}}
        <div class="{{styles.modal__close-icon}}"></div>
      {{/Button}}
      {{#Form onSubmit=submitHandler}}
        <label class="{{styles.modal__label}}">
          <p class="{{styles.modal__text}}">Change {{title}}</p>
          {{{InputWithValidation
            inputClassName=styles.modal__input
            errorsClassName=styles.form__inputErrors
            type="text"
            name=name
            errors=errors
            value=value
            onKeyUp=changeHandler
            placeholder="Enter new value..."
          }}}
        </label>
        {{#Button type="submit" className=styles.modal__button}}
          Save
        {{/Button}}
      {{/Form}}
    </div>
  </div>
{{/if}}
{{#unless isModalShown}}
  <template></template>
{{/unless}}