<main class="{{styles.main}}">

  <div class="{{styles.main__chat-info}}">
    <div class="{{styles.main__chat-panel}}">

      <div class="{{styles.main__chat-info}}">
        {{#Button className=styles.main__avatar-button onClick=udpateAvatarModalToggle}}
        <div class="{{styles.main__image-wrapper}}">
          {{#if avatar}}
          <img src="https://ya-praktikum.tech/api/v2/resources/{{avatar}}" class="{{styles.main__image}}" />
          {{/if}}
        </div>
      </div>
      {{/Button}}
      <h2 class="{{styles.main__title}}">
        {{{title}}}
      </h2>
    </div>
    <div class="{{styles.main__chat-buttons}}">
      {{{DeleteChatButton}}}
      {{{AddUserModalButton}}}
      {{{ChatUsersModalButton}}}
      {{{AddUserModal}}}
      {{{ChatUserModal}}}
      {{{DeleteChatModal}}}
      {{{UpdateAvatarModal}}}

    </div>
  </div>
  <div class="{{styles.main__conversation}}">
    {{{Messages}}}
    {{{MessageForm}}}
  </div>

</main>
